# Ignore build artifacts
/CG/build/
*.o
*.out
*.exe

# Ignore IDE and editor specific files
/CG/.vscode/
/CG/.idea/
/CG/*.suo
/CG/*.user
/CG/*.sln
/CG/*.suo
/CG/*.user
/CG/*.ncb
/CG/*.opendb
/CG/*.sdf
/CG/*.cproject
/CG/*.project
/CG/*.workspace

# Ignore dependency directories
/CG/vendor/